/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0px;
  background: #E6E6FA;
}

.header {
  height: 50px;
  background: #00FFFF;
  border:1px solid #CCC;
  width: 100%;
  margin:0px auto;

  .block_head{
    width: 65%;
    height: 46px;
    margin:0px auto;
    background: #E0FFFF;
    border-radius: 10px;
    #logo img {
      float: left;
      margin-top: 1px;
      margin-left: 40px;
      border-radius: 4px;
      width:41px;
      height:auto;
    }

    #menu_head{
      font-family: "Сomic Sans MS" Cursive;
      float: right;
      margin-right: 40px;
      margin-top: 8px;
      font-size: 20px;
      color: #cc7722;
    }
  }
  #pozition1{
    position: relative;
    float: right;
    top: -44px;
    left: -60px;
    font-family: "Сomic Sans MS" Cursive;
    font-size: 14px;
  }
  #pozition2{
    position: relative;
    float: right;
    top: -26px;
    left: -9px;
    font-family: "Сomic Sans MS" Cursive;
    font-size: 14px;
    margin:0px auto;
  }
}

.content {
  width:65%;
  background: #E0FFFF;
  border: 1px solid #CCC;
  border-radius: 15px;
  height: 2000px;
  margin: 2px auto;
}
